<h1>Usuarios</h1>    
<p id="message" style="display:none;"></p><br />    
<label>Total de: <span id="results_count"><%= results.rows.length %></span>&nbsp;usuarios | </label>
<a href="#" onclick="newUser();">Adicionar</a>

<table border="none", cellpading="4" cellspacing="0" style="margin-top:10px;">
	<tr>
		<th>ID</th>
		<th>Intermediario</th>
		<th>Email</th>
	</tr>

	<% for(var i=0; i<results.rows.length; i++) { %>		
		<% var user = results.rows.item(i) %>		
		<tr>
			<td><%= user.id %></td>			
			<td><%= user.email %></td>
			<td>
				<a href='#' onclick="editUser(<%= user.id %>);">alterar</a>
				<a href='#' onclick="destroyUser(<%= user.id %>);">excluir</a>
			</td>
		</tr>
	<% } %>
</table>