<h1><%= title %></h1>   

<p id="message" style="display:none;"></p>
<form id="form">
	<p>	    	
  	<select id="intermediary_id">  	
  		<option value=''>Intermediario</option>  		
  		<% for(var i=0; i<intermediaries.length; i++) { %>
  			<% var intermediary = intermediaries[i] %>		
  			
  			<% if (user.intermediary_id != "" && parseInt(user.intermediary_id) == parseInt(intermediary.value)) { %>
					<option value='<%= intermediary.value %>' selected><%= intermediary.name %></option>	  		
  			<% } else { %>
					<option value='<%= intermediary.value %>'><%= intermediary.name %></option>	  		
  			<% } %>

  		<% } %>
  	</select>
	</p>
	<p>	    	
   	<input type="text" id="email" placeholder="E-mail" value="<%= user.email %>" />
	</p>    	
	<p>	    	
   	<input type="password" id="password" placeholder="Password" value="<%= user.password %>" />
	</p>

	<input type="button" id="send" value="<%= btValue %>" onclick="<%= btFunction %>" /> |     	
	<a href="#" onclick="indexUsers();">voltar</a>
</form>